@import url('https://fonts.googleapis.com/css?family=Inconsolata|Source+Sans+Pro:200,300,400,600');

body {
  background-color: #E0E0E0;
}


.wrapper {

}


.media > img {
  width: 100%;
}

.media {
  max-width: 400px;
  max-height: 260px;
  overflow: hidden;
}

.layer {
  visibility: hidden;
  width:0px;
  height:0px;
}